body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ad/99/0c/ad990c716c1487af6e7d6f95cc38d937.jpg");
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#map {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    max-width: 100%;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}